<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Test Node App</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="dist/jquery.validate.min.js"></script>
    <script src="js/global.js"></script>
  </head>
  <body>
    <!-- HEADER -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-right">
      <div class="container">
      <% if (typeof locals.user == "undefined") { %>
        <a class="navbar-brand" href="/">Node.js</a>
      <% } %>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if (typeof locals.user != "undefined") { %> 
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Messages</a></li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <%= locals.user.first_name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/change-password">Change Password</a>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
            <% } %>
            <% if (typeof locals.user == "undefined") { %>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Login
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/register">Register</a>
              </div>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- HEADER -->
    <!-- ALERTS -->
    <% var messages = getMessages(); 
    if (messages.message) { %>
      <div class="alert <%= messages.type == 'success' ? 'alert-success' : 'alert-danger' %>">
        <strong><%= messages.type == 'success' ? 'Success: ' : 'Error: ' %></strong><%= messages.message %>
      </div>
    <% } %>
    <!-- ALERTS -->

    <!-- CONTENT -->
    <%- include(page) %>
    <!-- CONTENT -->

    <!-- FOOTER -->
    <div class="footer">
      <span class="footer-text">&copy; All rights reserved</span>
    </div>
    <!-- FOOTER -->
</html>
